{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<h1 xmlns="http://www.w3.org/1999/html">{% trans "Сбросить пароль" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Забыли пароль? Введите ваш email, на него придет письмо для сброса пароля" %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <section>{{ form.email }}</section><br>
        <button class="primaryAction btn btn-primary" type="submit">{% trans 'Сбросить пароль' %}</button>
    </form>

    <br><p>{% blocktrans %}Если вы не получаете письмо свяжитесь с нами.{% endblocktrans %}</p>
{% endblock %}
